:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body{
  margin: 0;
}

/* Selects */
/* DARK theme */

/* down arrow */
.react-select-dark__indicator{
  color: var(--g-color-line-generic) !important;
}

.react-select-dark__control--is-focused .react-select-dark__indicator{
  color: var(--g-color-line-generic-hover) !important;
}

/* separator */
.react-select-dark__indicator-separator{
  background-color: var(--g-color-line-generic) !important;
}

/* main box */
.react-select-dark__input-container{
  color: var(--g-color-text-primary) !important;
}
.react-select-dark__single-value{
  color: var(--g-color-text-primary) !important;
}
.react-select-dark__control{
  border-radius: 8px !important;
  background: var(--g-color-base-background) !important;
  border-color: var(--g-color-line-generic) !important;
}

.react-select-dark__control--is-focused{
  border-color: var(--g-color-line-generic-hover) !important;
  box-shadow: none !important;
}

/* options */
.react-select-dark__menu{
  background: var(--g-color-base-background) !important;
  border: 1px solid var(--g-color-line-generic-hover) !important;
}

.react-select-dark__option--is-selected {
  color: var(--g-color-base-light) !important;
  background-color: var(--g-color-text-light-secondary) !important;
}

.react-select-dark__option--is-focused {
  color: var(--g-color-base-light) !important;
  background-color: var(--g-color-line-generic) !important;
}

/* LIGHT theme */

/* down arrow */
.react-select-light__indicator{
  color: var(--g-color-line-generic) !important;
}

.react-select-light__control--is-focused .react-select-light__indicator{
  color: var(--g-color-line-generic-hover) !important;
}

/* separator */
.react-select-light__indicator-separator{
  background-color: var(--g-color-line-generic) !important;
}

/* main box */
.react-select-light__placeholder{
  color: var(--g-color-line-generic-active) !important;
}
.react-select-light__input{
  color: var(--g-color-text-primary) !important;
}
.react-select-light__control{
  border-radius: 8px !important;
  background: var(--g-color-base-background) !important;
  border-color: var(--g-color-line-generic) !important;
}

.react-select-light__control--is-focused{
  border-color: var(--g-color-line-generic-hover) !important;
  box-shadow: none !important;
}

/* options */
.react-select-light__menu{
  background: var(--g-color-base-background) !important;
  border: 1px solid var(--g-color-line-generic-hover) !important;
}

.react-select-light__option--is-selected {
  color: var(--g-color-private-black-800) !important;
  background-color: var(--g-color-line-generic) !important;
}

.react-select-light__option--is-focused {
  color: var(--g-color-private-black-800) !important;
  background-color: var(--g-color-line-generic-hover) !important;
}